<div class="row">
    <div class="col-lg-12">
        <h2>Frequently Asked Questions</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>explain how we obtained these templates</p>
        <p>explain how it works</p>
        <p>explain that we use alpine linux and not debian-based linux</p>
        <p>explain that that we do not persist images and VM changes. we only store the files inside /root</p>
    </div>
</div>