<div class="jumbotron" align="center">
  <h1 class="display-3"><%= project_name %>!</h1>
  <p class="lead">Prototyping your server-side project made easy</p>
  <hr class="my-4">
  <p><%= project_name %> is a tool for prototyping and sharing server-side projects compatible with Docker technology! <%= project_name %> is an on-going project. Hence, there might be interesting features that have not yet been implemented, or even unexpected behavior.</p>
</div>

<div class="row">
    <div class="col-lg-11">
        <h2>Frameworks</h2>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Filter..." id="filtertxt">
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="row">
        <a href="/create">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Empty</h4>
                    <ul>
                        <li>Language: N/A</li>
                        <li>Database: None</li>
                        <li>Template Engine: None </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/e233f248-cea4-49b3-968e-89a01b4247a1">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Express.js</h4>
                    <ul>
                        <li>Node.js: 6.9.5</li>
                        <li>Database: None</li>
                        <li>Template Engine: None </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/63d789aa-95e6-4989-a42f-6d621bbb526c">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Express.js</h4>
                    <ul>
                        <li>Node.js: 6.9.5</li>
                        <li>Database: None</li>
                        <li>Template Engine: Jade </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/f2267f5d-722f-4199-96c2-ca57237baeb8">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Rails 5</h4>
                    <ul>
                        <li>Ruby: 2.5.3</li>
                        <li>Database: SQLite 3</li>
                        <li>Template Engine:  ERB </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/a2876fd7-101c-4ed8-9c51-4f3e78ec969e">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Rails 5</h4>
                    <ul>
                        <li>Ruby: 2.5.3</li>
                        <li>Database: None</li>
                        <li>Template Engine:  ERB</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/863a8915-4a66-4c13-ba66-20fca5953117">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Django</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: SQLite 3</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/e233f248-cea4-49b3-968e-89a01b4247a1">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: None</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/d0d05bd4-90d8-4c90-bc9a-4a7a8fffec8e">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: SQlite 3</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/c3d754fb-0944-4ecb-8456-c965f3ef6dcd">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: SQlite 3</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/a41b6bc5-e630-48c3-9483-c68e8e4d9972">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: None</li>
                        <li>Template Engine: Native</li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>
