<div class="row">
    <div class="col-lg-11">
        <h2>Frameworks</h2>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Filter..." id="filtertxt">
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="row">
        <a href="/e233f248-cea4-49b3-968e-89a01b4247a1">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Express.js</div>
                <div class="card-body">
                <h4 class="card-title">Node.js + Express.js</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="/e233f248-cea4-49b3-968e-89a01b4247a1">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                <h4 class="card-title">Python 3 + Flask</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="/e233f248-cea4-49b3-968e-89a01b4247a1">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Rails 5</div>
                <div class="card-body">
                <h4 class="card-title">Ruby + Rails</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="/d0d05bd4-90d8-4c90-bc9a-4a7a8fffec8e">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                <h4 class="card-title">Python 3 + Flask + DB</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="/c3d754fb-0944-4ecb-8456-c965f3ef6dcd">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                <h4 class="card-title">Python 3 + Flask + DB + template</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="/a41b6bc5-e630-48c3-9483-c68e8e4d9972">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Flask</div>
                <div class="card-body">
                <h4 class="card-title">Python 3 + Flask + template</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
    </div>
</div>
